form, input, textarea{
  margin: 0;
  padding: 0;
}

.foreword span.text {
  line-height: 22px;
  color: #fdf0db;
  font-size: 12px;
  text-align: center;
}

form#survey {
  /* survey的display属性设置成表格，宽度和高度固定，内容居中 */
  display: table;
  width: 800px;
  height: 300px;
  margin: 10px auto;
  border: 1px dotted #fdf0db;
}

.tableRow {
  /* 将类tableRow展示形式设置成表格行 */
  display: table-row;
  overflow: hidden;
}
.tableRow p {
  /* 将p标签展示形式设置成表格列 */
  display: table-cell;
  color: #fff;
  padding: 5px;
  /* 在垂直方向中将内容设成向上对齐 */
  vertical-align: top;
}
.tableRow p span {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
}
/* 单独设置奇数列的css样式 */
.tableRow p:nth-child(odd) {
  font: 800 16px 'Times New Roman', Times, serif;
  /* 文字右对齐 */
  text-align: right;
}
/* 对form的input、textarea等设置固定的宽度和高度 */
form input {
  width: 200px;
  height: 25px;
}
form input.choice {
  width: 30px;
  height: 15px;
}

form textarea {
  width: 240px;
  height: 150px;
}
.buttons {
  text-align: center;
}
input.reset_btn, input.submit_btn, input.say_btn {
  width: 70px;
  height: 35px;
  font: bold 16px "Microsoft YaHei";
  border-radius: 8px;
  text-align: center;
}
input.reset_btn {
  background-color: #a32727;
  color: #fff;
  border: 1px solid #721919;
}
input.submit_btn {
  background-color: #d7ebf9;
  color: #0070a3;
  border: 1px solid #aed0ea;
}

/* 给下部内容区容器设定固定的宽度，内容居中并设置margin-top的距离 */
.content_bottom-inner {
  width: 960px;
  height: 450px;
  margin: 70px auto 0 auto;
}

header .word {
  width: 660px;
  height: 35px;
  margin-left: 130px;
  color: #fdf0db;
  border-bottom: 2px solid #fff;
  text-align: center;
}

/* 将表单内容放在自定义的表格中 */
form#message {
  /* survey的display属性设置成表格，宽度和高度固定，内容居中 */
  display: table;
  background-color: #d3d3d370;
  width: 660px;
  height: 150px;
  margin-left: 130px;
  /* 给表格设置一定的边距 */
  border-spacing: 10px;
}

#message textarea.write {
  width: 450px;
  height: 160px;
}
p.say {
  text-align: right;
}
input.say_btn {
  width: 80px;
  background-color: #a52a2a;
  color: #fff;
  font-size: 14px;
  border: 1px solid #972727;
}

.both{
  float: left;
}